<div class="container-fluid">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row mt-6">
    <div class="col-sm-4 mt-3">
      <div class="card text-bg-secondary h-100">
        <div class="card-body">
          <h5 class="card-title">Send A Message To The Server</h5>
          <p class="card-text">
            Use the field bellow to send a text message to the whole server.
          </p>
          <form hx-post="/app/commands" hx-target="#Msgresponse">
            <div class="form-floating mb-3">
              <input type="hidden" id="cmd" name="cmd" value="say"/>
              <input type="text" class="form-control mt-3" name="value" id="say-cmd" placeholder="Hello Server"/>
              <label class="text-secondary" for="say-cmd">Message</label>
              <button type="submit" class="btn btn-dark mt-3">
              Send Server Message
              </button>
              <div id="Msgresponse"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card text-bg-secondary h-100">
        <div class="card-body">
          <h5 class="card-title">Set The Time Of The Server</h5>
          <p class="card-text">
          Use the field below to set the time. Enter a number from 1-13000
          </p>
          <div class="form-floating mb-3">
            <form hx-post="/app/commands" hx-target="#Timeresponse">
              <div class="form-floating mb-3">
                <input type="hidden" id="cmd" name="cmd" value="time" />
                <input type="text" class="form-control mt-3" name="value" id="time-cmd" placeholder="1 for day, 13000 for night"/>
                <label class="text-secondary" for="time-cmd">Time</label>
                <button type="submit" class="btn btn-dark mt-3">
                  Set Server Time
                </button>
                <div id="Timeresponse"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card text-bg-secondary h-100">
        <div class="card-body">
          <h5 class="card-title">Set Weather</h5>
          <p class="card-text">
            Select the weather you wish to see on the server. This will apply
            server wide.
          </p>
          <div class="form-floating mb-3">
            <form hx-post="/app/commands" hx-target="#Weatherresponse">
              <input type="hidden" id="cmd" name="cmd" value="weather" />
              <select class="form-select" id="options" name="options">
                <option selected>Choose...</option>
                <option value="clear">Clear</option>
                <option value="rain">Rain</option>
                <option value="thunder">Thunder</option>
              </select>
              <button type="submit" class="btn btn-dark mt-3">
                Set Server Weather
              </button>
              <div id="Weatherresponse"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-6">
    <div class="col-sm-4 mt-3">
      <div class="card text-bg-secondary h-100">
        <div class="card-body">
          <h5 class="card-title">Set The Server Spawn Coordinates</h5>
          <p class="card-text">
            Use the field bellow to set the server spawn coordinates. This will enable the "TP to Spawn" button.
          </p>
          <form hx-post="/app/commands" hx-target="#Msgresponse">
            <div class="form-floating mb-3">
              <input type="hidden" id="cmd" name="cmd" value="say"/>
              <input type="text" class="form-control mt-3" name="value" id="say-cmd" placeholder="Hello Server"/>
              <label class="text-secondary" for="say-cmd">Message</label>
              <button type="submit" class="btn btn-dark mt-3">
              Send Server Message
              </button>
              <div id="Msgresponse"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
