<div class="container-fluid">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row mt-6">
    <div class="col-sm-2 mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">Rcon Status</div>
        <div class="card-body text-center">
          {{if .Data.Rcon}}
          <h5 class="card-text">Go-Rcon is connected</h5>
          {{else}}
          <h5 class="card-text">Go-Rcon is not connected</h5>
          {{end}}
        </div>
      </div>
    </div>
    <div class="col-sm-5 mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">#2</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">Whitelist</div>
        <div class="card-body">
          <p class="card-text">
            Currently there are {{ .Data.Whitelist.Count}} players allowed to play on the server.
          </p>
          <a href="/whitelist" class="btn btn-dark">Add / Remove players</a>
        </div>
      </div>
    </div>
  </div>
  <!--Second Row-->
  <div class="row mt-6">
    <div class="col-sm-2 mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">Players</div>
        <div class="card-body">
          {{if ne .Data.Players.CurrentCount 0}}
          <h5 class="card-text">Currently Connected Players</h5>
          <h3 class="card-text">{{.Data.Players.CurrentCount}} / {{.Data.Players.MaxCount}}</h3>
          <a href="/players" class="btn btn-dark mt-3">View Players</a>
          {{else}}
          <h5 class="card-text">No Players Online</h5>
          {{end}}

        </div>
      </div>
    </div>
    <div class="col-sm-10 mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">Command Log</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente
            debitis nisi blanditiis aliquid sint vero veniam, nulla odit iure?
          </p>
          <a href="/commands" class="btn btn-dark">Send Commands</a>
        </div>
      </div>
    </div>
  </div>    
</div>