<div class="container-fluid">
    <div class="row">
      <h2>{{.Title}}</h2>
      <hr />
    </div>
    <div class="row">
      <div class="col-sm-4 mx-auto">
          <div class="card text-bg-secondary mt-3">
            <div class="card-header">Go-Rcon User Login</div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control mt-3" name="username" id="username" placeholder="Username"/>
                      <label class="text-secondary" for="username"> Username </label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password"/>
                      <label class="text-secondary" for="password"> Password </label>
                      </div>
                      <button type="submit" class="btn btn-dark mt-3">
                        Login
                      </button>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="row">
            {{if .Data.Auth}}
            <p>Login status: <span class={{if .Data.Auth.Status }}text-success> Logged In</span> {{ else }} text-danger> Logged Out</span> {{ end}}</p>
            <p>Auth Message: {{ .Data.Auth.Message }}</p>
            {{end}}
        </div>
    </div>
  </div>
  