<div class="container-fluid">
  <div class="row mt-6">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="col-sm-12 mt-3 h-25">
    <div class="card text-bg-secondary">
      <div class="card-body" hx-get="/app/players/list" hx-trigger="every 5s" hx-swap="innerHTML">
{{ block "player-list-item" .}}
        {{if ne .Data.Players.CurrentCount 0}}
        <h5 class="card-title">Player Count</h5>
        <p>{{.Data.Players.CurrentCount}} / {{.Data.Players.MaxCount}}</p>
        <table class="table table-hover table-bordered table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">TP to Spawn</th>
              <th scope="col">OP</th>
              <th scope="col">Kick</th>
            </tr>
          </thead>
          <tbody id="player-list">
            {{range .Data.Players.Players}}
            <tr>
              <td>{{ .Name}}</td>
              <td>
                <form hx-post="/app/players" hx-target="#Response">
                  <input type="hidden" id="cmd" name="cmd" value="tp" />
                  <input type="hidden" id="value" name="value" value="{{ .Name}}" />
                  <button name="{{ .Name}}-tp" type="submit" class="btn btn-info">
                    TP to Spawn
                  </button>
                </form>
              </td>
              <td>
                <form hx-post="/app/players" hx-target="#Response">
                  <input type="hidden" id="cmd" name="cmd" value="op" />
                  <input type="hidden" id="value" name="value" value="{{ .Name}}" />
                  <button name="{{ .Name}}-op" type="submit" class="btn btn-warning">
                    Add/Remove OP
                  </button>
                </form>
              </td>
              <td>
                <form hx-post="/app/players" hx-target="#Response">
                  <input type="hidden" id="cmd" name="cmd" value="kick" />
                  <input type="hidden" id="value" name="value" value="{{ .Name}}" />
                  <button name="{{ .Name}}-kick" type="submit" class="btn btn-danger">
                    Kick
                  </button>
                </form>
              </td>
            </tr>
            {{ end }} <!--If End-->
          </tbody>
        </table>
      </div>
      {{ else }} <!--Else End-->
      <p>No Players Online</p>
      {{ end }}
{{ end }} <!--Block End-->
    <div id="Response"></div>
    </div>
  </div>
</div>