<div class="container">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr/>
  </div>
  <div class="row">
    {{if ne .Data.Players.CurrentCount 0}}
    <p>{{.Data.Players.CurrentCount}} / {{.Data.Players.MaxCount}}</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">TP to Spawn</th>
          <th scope="col">Kick</th>
          <th scope="col">OP</th>
        </tr>
      </thead>
      <tbody>
        {{range $playerIndex, $player := .Data.Players.Players}}
        <tr>
          <th scope="row">{{ $playerIndex }}</th>
          <td>{{ $player.Name}}</td>
          <td><button type="button" class="btn btn-info">TP to Spawn</button></td>
          <td><button type="button" class="btn btn-danger">Kick</button></td>
          <td><button type="button" class="btn btn-warning">Add/Remove OP</button></td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <p>No Players Online</p>
    {{end}}
  </div>
</div>
