<div class="container-fluid">
  <div class="row">
    <h2>{{.Title}}</h2>
    <hr />
  </div>
  <div class="row mt-6">
    <div class="col-sm-12 mt-3">
      <div class="card text-bg-secondary h-100">
        <div class="card-body">
          <h5 class="card-title">Add User to the Whitelist</h5>
          <p class="card-text">
            Enter the minecraft username or UUID to add to the whitelist
          </p>
          <form hx-post="/app/whitelist/update" hx-target="#WhitelistTable" hx-swap="innerHTML">
            <div class="form-floating mb-3">
              <input type="hidden" id="cmd" name="cmd" value="whitelist" />
              <input type="hidden" id="options" name="options" value="add"/>
              <input
                type="text"
                class="form-control mt-3"
                name="value"
                id="whitelist-cmd"
                placeholder="Minecraft username or UUID"
              />
              <label class="text-secondary" for="whitelist-cmd"
                >Username or UUID</label
              >
              <button type="submit" class="btn btn-dark mt-3">
                Add To Whitelist
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div class="row mt-6">
    <div class="col-sm-12 mt-3 h-25">
      <div class="card text-bg-secondary">
        <div id="WhitelistTable" class="card-body">
{{ block "whitelist-table" . }}
          <h5 class="card-title">Whitelist</h5>
          <p class="card-text">
          {{ .Data.Whitelist.Count}} currently whitelisted users on the server.
          </p>
          <ul class="list-group">
            <table class="table table-hover table-bordered table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Player Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
            {{range .Data.Whitelist.Players}}
            <tr>
              <td>{{ .Name}}</td>
              <td>
                <form hx-post="/app/whitelist/update" hx-target="#WhitelistTable" hx-swap="innerHTML">
                <input type="hidden" id="cmd" name="cmd" value="whitelist"/>
                <input type="hidden" id="options" name="options" value="remove"/>
                <input type="hidden" id="value" name="value" value="{{ .Name}}"/>
                <button name="{{ .Name}}-dewhitelist" type="submit" class="btn btn-danger">Remove</button>
              </form>
              </td>
            {{end}}
          </tbody>
        </table>
{{ end }}
        </div>
      </div>
    </div>
  </div>
</div>