<div class="container-fluid">
    <div class="row">
      <h2>{{.Title}}</h2>
      <hr />
    </div>
    <div class="row mt-6">
      <div class="col-sm-2 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Rcon Connection Status</div>
          <div class="card-body text-center">
            {{if .Data.Rcon.Connection}}
            <h5 class="card-text">Go-Rcon is connected</h5>
            {{else}}
            <h5 class="card-text">Go-Rcon is not connected</h5>
            {{end}}
          </div>
        </div>
      </div>
      <div class="col-sm-5 mt-3">
        <div class="card text-bg-secondary">
          <div class="card-header">Configure RCON</div>
          <div class="card-body">
            <h5 class="card-title">Update Rcon connection  settings</h5>
            <form class="row g-3" hx-post="/app/admin/rcon" hx-target="#rconresponse">
              <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control mt-3" name="ip" id="ip" placeholder="127.0.0.1"/>
                <label class="text-secondary" for="ip"> IP </label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control mt-3" name="port" id="port" placeholder="27575"/>
                <label class="text-secondary" for="port"> Port </label>
              </div>
            </div>
              <div class="col">
              <div class="form-floating">
                <input type="password" class="form-control mt-3" name="pass" id="pass" placeholder="Password"/>
                <label class="text-secondary" for="pass"> Password </label>
              </div>
            </div>
            <button type="submit" class="btn btn-dark mt-3">
              Create
            </button>
          </form>
          <div id="rconresponse"></div>
          </div>
        </div>
        </div>  
      <div class="col-sm-5 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Disconnect / Reconnect Rcon</div>
          <div class="card-body">
            <h5 class="card-title">Disconnect or reconnect the Rcon session</h5>
            <form hx-post="/app/admin/rcon/session" hx-target="#Sessionresponse">
              <div class="form-floating">
                <select class="form-select" id="action" name="action">
                  <option selected>Choose...</option>
                  <option value="restart">Reconnect</option>
                  <option value="stop">Disconnect</option>
                  <option value="start">Connect</option>
                </select>
                <label class="text-secondary" for="action"> Action </label>
              </div>
                <button type="submit" class="btn btn-dark mt-3">
                  Submit
                </button>
              </div>
          </form>
          <div id="Sessionresponse"></div>
          </div>
        </div>
    </div>
    <!-- Second Row -->
    <div class="row mt-6">
      <div class="col-sm-2 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Prune command Log</div>
          <div class="card-body text-center">
            <p>Prune command log by number of days</p>
          </div>
        </div>
      </div>
      <div class="col-sm-10 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Command Log</div>
          <div class="card-body">
            {{if .Data.Commands}}
            <table class="table table-bordered table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Command</th>
                  <th scope="col">Response</th>
                  <th scope="col">Date</th>
                  <th scope="col">User</th>
                </tr>
              </thead>
              <tbody>
              {{range .Data.Commands}}
              <tr>
                <td>{{.Command}}</td>
                <td>{{.Response}}</td>
                <td>{{.CreatedAt}}</td>
                <td>{{.SentBy}}</td>
              </tr>
              {{end}}
              </tbody>
            </table>
            {{else}}
            <p>No Command Log</p>
            {{end}}
          </div>
          </div>
        </div>
    </div>
    <!--Third Row-->
    <div class="row mt-6">
      <div class="col-sm-2 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Current Users</div>
          <div class="card-body text-center">
            <p>Get number of current users</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Create User</div>
          <div class="card-body">
            <h5 class="card-title">Create a new user account</h5>
            <form action="/app/admin/user" method="post">
              <div class="form-floating">
                <input type="hidden" name="action" id="action" value="create-user"/>
                <input type="text" class="form-control mt-3" name="username" id="username" placeholder="Username"/>
                <label class="text-secondary" for="username"> Username </label>
              </div>
              <div class="form-floating ">
                <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password"/>
                <label class="text-secondary" for="password"> Password </label>
              </div>
                <button type="submit" class="btn btn-dark mt-3">
                  Create
                </button>
              </div>
          </form>
          </div>
        </div>
      <div class="col-sm-5 mt-3">
        <div class="card text-bg-secondary mb-3 h-100">
          <div class="card-header">Update Users Password</div>
          <div class="card-body">
            <h5 class="card-title">Reset a Users password</h5>
            <form action="/app/admin/user" method="post">
              <div class="form-floating">
                <input type="hidden" name="action" id="action" value="update-user-pass"/>
                <input type="text" class="form-control mt-3" name="username" id="username" placeholder="Username"/>
                <label class="text-secondary" for="username"> Username </label>
              </div>
              <div class="form-floating ">
                <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password"/>
                <label class="text-secondary" for="password"> New Password </label>
              </div>
                <button type="submit" class="btn btn-dark mt-3">
                  Update
                </button>
              </div>
          </form>
          </div>
        </div>
    </div>
    <!--Fourth row-->
    <div class="col-auto mt-3">
      <div class="card text-bg-secondary mb-3 h-100">
        <div class="card-header">User List</div>
        <div class="card-body">
          {{if .Data.Users}}
          <table class="table table-bordered table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Admin</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
            {{range .Data.Users}}
            <tr>
              <td>{{.UserName}}</td>
              <td>
                {{if .Admin}}
                <form action="/app/admin/user" method="post">
                  <input type="hidden" id="action" name="action" value="admin-user"/>
                  <input type="hidden" id="value" name="value" value="{{ .UserName}}"/>
                  <button name="{{ .UserName}}-tp" type="submit" class="btn btn-warning">
                   Revoke
                  </button>
                </form>
                {{else}}
                <form action="/app/admin/user" method="post">
                  <input type="hidden" id="action" name="action" value="remove-admin-user"/>
                  <input type="hidden" id="value" name="value" value="{{ .UserName}}"/>
                  <button name="{{ .UserName}}-tp" type="submit" class="btn btn-info">
                   Grant
                  </button>
                </form>
                {{end}}
              </td>
              <td>
                <form action="/app/admin/user" method="post">
                <input type="hidden" id="action" name="action" value="delete-user"/>
                <input type="hidden" id="value" name="value" value="{{ .UserName}}"/>
                <button name="{{ .UserName}}-tp" type="submit" class="btn btn-danger">
                 Remove
                </button>
              </form>
            </td>
            </tr>
            {{end}}
            </tbody>
          </table>
          {{else}}
          <p>No Command Log</p>
          {{end}}
        </div>
        </div>
      </div>
</div>
  